
body {
    padding: none;
    background-image: url("/static/images/pokemon-background.webp");
    background-color: black;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;   
}
*, *::before, *::after { box-sizing: border-box;}

#question_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#question {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-auto-rows: 1fr;
}

#question_content {
    border: 1px solid white;
    background-color: black;
    padding: 1em;
    width: 80%;
    
}

#question_options button {
    background-color: black;
    border: 1px solid white;
    color: white;
    font-size: 2em;
    padding: 1em;
}

#question_options {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(2, 1fr); 
    gap: 1em;
}

#question_title {
    font-family: 'Fira Code', monospace;
    color: white;
    font-size: clamp(30px, 3vw, 60px); 
    text-align: center;
    margin-bottom: 0.3em;
}

#question_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}