#question_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#question_options {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#question_title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:red;
    font-size: 100px; 
}

#question_image {
    width: 70%;
    height: 40%;
    object-fit: cover;
}