<!DOCTYPE html> 
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/index.css" />
        <style>
        @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
        </style>
    </head>
    <body>
        Welcome to the Trojan Quiz! Click the button below to start the quiz.
        <button id="start_button" onclick="window.location.href='quiz'">Start Quiz</button>
    </body>
</html>